*{box-sizing: border-box;}

/* CSS Reset (Removendo espaçamento padrão dos elementos indicados) */
body, h1, h2, p, figure{
    margin: 0;
    padding: 0;
}

img{max-width: 100%;}

body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

/* Para tirar o underline dos links */
a{text-decoration: none;}

header{
    /* background-color: rgb(119, 138, 219); */
    text-align: center;
    height: 100px;
    padding-top: 0;
}

h1, nav{
    text-transform: uppercase;
}

h1{
    font-size: 25px;
   
}
h1 a{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;            
    font-weight: normal;
}

nav{
    /* background-color: aqua; */
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    font-weight: bold;
    color: black;
    padding: 10px;
    transition: 500ms;
}

nav a:hover, nav a:focus{background-color: rgb(172, 169, 169);}

/* Regras de conteúdo (articles) */
.destaque{
    background-image: url(../imagens/fundo-destaque.jpg);
    color: white;
    height: 350px;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Alinhando todos os itens juntos, como um conteúdo só (e assim, evitando espaço entre eles) */
    align-content: center;
    margin-top: 5px;
}

.destaque h2{
    font-size: 64px;
    animation-name: aparecer;
    animation-duration: 2s;
}

.destaque p{
    font-size: 32px;
    font-weight: bold;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 1s;/* Atraso no início da animação */
    animation-fill-mode: backwards;/* Faz com que o texto já comece transparente (opacidade 0) após o delay */
}

/* Regra de animação */
@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* @keyframes aparecer {
    from { background-image: linear-gradient( to right, red, green, yellow, blue ); }
    to { background-image: linear-gradient( to right, rgb(183, 235, 88), green, yellow, blue ); }
} */

article h2{
    text-align: center;
    padding: 20px;
}

article p{padding: 10px;}

figure{ 
    padding: 0 10px;
    text-align: center;
}

.historia{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    color: white;
    text-shadow: black 1px 1px 5px;
    text-align: center;
}

.historia iframe{
    width: 100%;
    max-width: 600px;
}

.localizacao{
    text-align: center;
}

.localizacao iframe{width: 100%;}

footer{
    height: 200px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo{
    background-color: #e9edc9;
    border-radius: 15px;
}

table, td, th{
    border: solid 2px black;
    border-collapse: collapse;/* Remove espaçamento entre as bordas */
}

table{
    margin: auto;
    width: 80%;
}

th, td{
    padding: 5px;
}

tr:nth-child(odd){ background-color: #84a59d }

th{
    background-color: #d62828;
    color: #e9edc9;
}
/* Pseudo-classes: nth:child, first-child, las-child */
td:first-child{text-transform: uppercase;}
td:nth-child(2){color: red;}
td:last-child{color: blue;}

/* .transformar{
    border-radius: 100%;
} */

/* .transformar:hover{
    
} */
 .galeria img{
    border-radius: 100%;
    transform: scale(0.8);
    transition: 500ms;
    box-shadow: black 0 0 30px 5px;
}

.galeria img:hover{transform: scale(1);}

/* Regras para o formulário */
form{
    background-color: #80B8FF ;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 5px 10px 15px;
}

#nome, #email, #nascimento, #assunto, #mensagem, #telefone{
    width: 100%;
    border: none;
    height: 30px;
}

button{
    padding: 5px;
    border-radius: 5px;
    box-shadow: black 2px 2px 3px;
    font-weight: bold;
}

input, select, text{margin-top: 5px;}

button:hover, button:focus{background-color: #dee2ff;} 

#mensagem{height: auto;}



/* Regras Condicionais usando Media Queries */
@media screen and (min-width: 530px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    h1{margin-left: 2vw;}

    nav{margin-right: 2vw;}
}

@media screen and (min-width: 800px){
    h1{font-size: 35px;}
    header{height: 85px;}
    nav{width: 70%;}
    nav a{padding: 20px;}
    .destaque{height: 550px;}
    p{font-size: 20px;}
    h2{font-size: 30px;}
}

@media screen and (min-width: 1000px){
    .limitador{
        max-width: 1000px;
        margin: auto;
    }
}